***Question 1

In [ ]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df= df[0]
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

In [8]:
df.drop([0],inplace=True)
df.reset_index(inplace=True,drop=True)
df.head()

  Postal Code           Borough                      Neighborhood
0         M2A      Not assigned                               NaN
1         M3A        North York                         Parkwoods
2         M4A        North York                  Victoria Village
3         M5A  Downtown Toronto         Regent Park, Harbourfront
4         M6A        North York  Lawrence Manor, Lawrence Heights

In [9]:
df = df[df['Borough']!= 'Not assigned']
df[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [10]:
df

,Postal Code,Borough,Neighborhood
1,M3A,North York,Parkwoods
2,M4A,North York,Victoria Village
3,M5A,Downtown Toronto,"Regent Park, Harbourfront"
4,M6A,North York,"Lawrence Manor, Lawrence Heights"
5,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
159,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
164,M4Y,Downtown Toronto,Church and Wellesley
167,M7Y,East Toronto,Business reply mail Processing Centre
168,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
177,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [11]:
df.shape

(103, 3)